astropy>=4.0.1
corner>=2.2.1
emcee>=3.0.1
jsonschema>=3.2.0
matplotlib>=3.3.2
numpy>=1.16.2
pandas>=0.24.0
packaging
pytest>=3.2.3
python-dateutil>=2.6.1
pytz>=2020.1
six>=1.5
scipy>=1.0.0
tqdm>=4.43.0
parameterized>=0.7.4
numba>=0.51.2
requests>=2.26.0
open3d

# keep it commented
# torch  +cuda
